*.pyc
Plan.txt
__pycache__/
.ipynb_chechpoints/
.ipynb_checkpoints/DataSource-checkpoint.txt
.ipynb_checkpoints/Main-checkpoint.ipynb
.ipynb_checkpoints/Plan-checkpoint.txt
.ipynb_checkpoints/Portfolio-checkpoint.txt
.ipynb_checkpoints/requirements-checkpoint.txt
Data/
Figures/
