*.pyc
Plan.txt
__pycache__/
.ipynb_chechpoints/
.ipynb_checkpoints/DataSource-checkpoint.txt
.ipynb_checkpoints/Main-checkpoint.ipynb
.ipynb_checkpoints/Plan-checkpoint.txt
.ipynb_checkpoints/Portfolio-checkpoint.txt
.ipynb_checkpoints/requirements-checkpoint.txt
Data/EUR-CHF_Cur.dat
Data/IShare_Global-CorpBond_CHF_Dis_Close.dat
Data/IShare_Global-CorpBond_CHF_Dis_Div.dat
Data/IShare_MSCI-ACWI_USD_Acc_Close.dat
Data/UBS_Gold_USD_Dis_Close.dat
Data/UBS_SXI-RealEstate_CHF_Dis_Close.dat
Data/UBS_SXI-RealEstate_CHF_Dis_Div.dat
Data/USD-CHF_Cur.dat
Figures/CorrelationMaps.png
Figures/CumulativeExceptionRate.png
Figures/GARCHVaR.png
Figures/HistoricalVaR.png
Figures/Homoscedasticity.png
Figures/PortfolioPriceEvolution.png
Figures/ResidualDistribution.png
Figures/ResidualQQ.png
Figures/ReturnDistribution.png
Figures/Returns100.png
Figures/Returns1000.png
Figures/Returns10000.png
Figures/Returns100000.png
